/* Include Google Font */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,400&family=Lobster&display=swap');

:root {
    --grayDark: #6c757d;
    --themeColor: rgb(230, 76, 60);
    --themeColorAlpha1: rgba(230, 76, 60, 0.6);
    --themeColorAlpha2: rgba(230, 76, 60, 0.8);
    --themeColorAlpha3: rgba(230, 76, 60, 0.16);
    --themeColorAlpha4: rgba(230, 76, 60, 0.23);
    --themeColorAlpha5: rgba(230, 76, 60, 0.15);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.themeLetter:first-letter {
    color: var(--themeColor);
}

.btn {
    color: var(--grayDark);
    border-color: var(--grayDark);
    transition: 0.4s all ease-in-out;
}

.btn:hover {
    color: #fff;
    border-color: var(--themeColor);
    background-color: var(--themeColor);
}

button:focus,
.btn[type="text"]:focus,
button.btn:focus,
.btn:active,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: var(--themeColorAlpha2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--themeColorAlpha1);
    outline: 0 none !important;
}

.searchProduct {
    margin-top: -90px !important;
}

.scrolling .searchProduct {
    position: fixed;
    top: 90px;
    left: 8.40%;
    width: 58.2%;
    z-index: 9;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.longScroll .searchProduct {
    padding: 8px 0 0 0;
}

.searchProduct {
    color: grey;
    padding: 40px;
    font-size: 32px;
    margin: 0 0 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    transition: 0.4s all ease-in-out;
    box-shadow: 0 3px 6px var(--themeColorAlpha3), 0 3px 6px var(--themeColorAlpha4);
}

.searchProduct h2 {
    font-size: 15px;
    text-align: left;
}

.searchProduct input {
    border-right-color: var(--themeColor);
}

.searchProduct button {
    border-left: 0;
    border-color: #ced4da;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media only screen and (max-width: 575px) {
    .searchProduct h2 {
        font-size: 12px;
    }
}

/* Header Section */
header {
    height: 50vh;
    padding: 100px 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Creepster', cursive;
    background-image: url(image/banner.jpg);
}

header h1 {
    color: black;
    font-size: 100px;
    padding-top: 30px;
    position: relative;
}

header h1::before {
    content: 'SBD Shop';
    position: absolute;
    color: #fff;
    font-size: 32px;
    top: 3px;
    letter-spacing: 5px;
    font-family: 'Lobster', cursive;
}

/* Result Cart */
.result-cart {
    margin-top: -90px !important;
}

.scrolling .result-cart {
    position: fixed;
    top: 90px;
    right: 3%;
    width: 20%;
    z-index: 9;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.result-cart {
    color: grey;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 25px;
    border-radius: 10px;
    background-color: white;
    transition: 0.4s all ease-in-out;
    box-shadow: 0 3px 6px var(--themeColorAlpha3), 0 3px 6px var(--themeColorAlpha4);
}

.result-cart .title {
    bottom: -10px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 3px solid gray;
}

.result-cart tbody tr th,
.result-cart tbody tr td {
    border: 0;
}

.result-cart tbody tr th {
    padding-left: 0;
}

.result-cart tbody tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

/* Products */
.scrolling .products {
    margin-top: 115px;
}

.products .card {
    top: 0;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 3px 6px var(--themeColorAlpha3), 0 3px 6px var(--themeColorAlpha4);
}

.products .card:hover {
    top: -7px;
}

.modal-open .products .card:hover {
    top: 0;
}

.modal-open h3 {
    font-size: 22px;
}

.modal-open h3:first-child {
    font-size: 24px;
}

.products .category {
    margin-bottom: 0;
    height: 24px
}

.products .card-title {
    font-size: 18px;
    margin-bottom: 0;
    height: 45px;
    -webkit-line-clamp: 2 !important;
}

.products img {
    min-height: 380px;
    max-height: 380px;
}

.products .price {
    margin: 0;
    font-size: 48px;
    height: 50px;
}

.products .media {
    margin-top: -20px;
}

.products .media-body {
    text-align: center;
    justify-content: center;
    display: flex;
}

.products .category,
.products .card-title,
.products .price {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

/* Star Rating With Progressbar */
.rating-progressbar {
    position: relative;
}

.rating-progressbar .rating-value {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}

.rating-progressbar .total-rating {
    margin-top: 5px;
    margin-bottom: 0;
}

.rating {
    width: 120px;
    height: 24px;
    position: relative;
    background-color: gray;
}

.rating progress.rating-bg {
    -webkit-appearance: none;
    -moz-appearence: none;
    appearance: none;
    border: none;
    display: inline-block;
    height: 24px;
    width: 100%;
    color: orange;
}

.rating progress.rating-bg::-webkit-progress-value {
    background-color: orange;
}

.rating progress.rating-bg::-moz-progress-bar {
    background-color: orange;
}

.rating svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* SBD Modal Content */
.modalShow {
    overflow: hidden;
}

.buy-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -99;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalShow .buy-modal {
    opacity: 1;
    z-index: 99;
    transform: scale(1);
}

.sbd-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 100px;
    border-radius: 20px;
    opacity: 0;
    z-index: -999;
    font-family: 'Lobster', cursive;
    box-shadow: 0 3px 6px var(--themeColorAlpha3), 0 3px 6px var(--themeColorAlpha4);
}

.sbd-modal-content .btn {
    font-family: 'Creepster', cursive;
}

.modalShow .sbd-modal-content {
    opacity: 1;
    z-index: 999;
}

/* Placeholder Image */
.products .placeholder img {
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: 500px;
}

.activity {
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: loading 1s infinite;
    z-index: 4;
}

@keyframes loading {
    0% {
        left: -45%;
    }
    100% {
        left: 100%;
    }
}